* {
  box-sizing: border-box;
  /* padding 크기제한 */
}
/* *{} 별 모든것포함 */
body {
  margin: 0;
  /* 전체크기 제한 width height 영향 x */
}

.wrap {
  width: 1200px;
  border: 2px solid black;
  margin: 0 auto;
  /* padding은 안되고 양쪽 오른쪽 여백 가운데로 자동설정 너비가 있어야 위에 코드 사용가능 없으면 안됨 */
}
.header {
  width: 100%;
  border: 2px solid red;
  /* box-sizing을줄때wrap의 보더때문에(1200-2-2) 1196  따라서 빨간색 보더가 삐져나옴 그래서 width에 100퍼센트를 붙임*/
  /* height: 200px; */
  /* vertical-align : middle; 수직 정렬 */
  padding: 50px 0;
  text-align: center;
  /* 글자를 가운데 정렬하려면 높이빼고 패팅 글자정렬 */
}
.menu {
  font-size: 20px;
  padding: 0 20px;
}
.menu:hover {
  /* 마우스커서가 위에 올라오면 동작  */
  cursor: pointer;
  color: red;
}
.hot {
  list-style-type: none;
  /* none 스타일 사용 x */
  font-size: 25px;
  line-height: 50px;
  /* 글자사이 간격 */
  padding: 0;
  /* 글자 왼쪽옆으로 붙게해줌 */
}
.order {
  padding: 0;
  list-style-type: none;
}
.main {
  padding: 50px;
}
.main img {
  width: 100%;
}
/* 메인 밑에 있는 img태그만선택 */
.footer {
  padding: 100px;
  background: gray;
}
.addr {
  color: white;
  font-size: 30px;
}

.make {
  color: yellow;
  text-align: right;
  font-size: 20px;
}
