* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 1000px;
  background: red;
}

.A {
  display: flex;
  list-style-type: none;
}
.b {
  border: none;
  background: whitesmoke;
  cursor: pointer;
  height: 100%;
}
