* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.A {
  width: 1000px;
  background: blue;
  position: relative;
  margin-bottom: 50px;
  margin: 0 auto;
}
.B {
  width: 1000px;
  background: blue;
  margin: 0 auto;
  border: 2px solid;
  margin-top: 20px;
  height: 600px;
}
ul {
  background: black;

  text-align: center;
  color: white;
  list-style-type: none;
}
.a {
  background: black;
  position: absolute;
  left: 200px;
  width: 150px;
  bottom: 20px;
  text-align: center;
  height: 50px;
}
.b {
  background: black;
  position: absolute;
  left: 400px;
  width: 150px;
  bottom: 20px;

  height: 50px;
}
.c {
  background: black;
  position: absolute;
  left: 600px;
  width: 150px;
  bottom: 20px;

  height: 50px;
}
.p1 {
  margin: 20px 20px;
}
.p2 {
  position: absolute;
  left: 400px;
  bottom: 520px;
}
.p3 {
  position: absolute;
  bottom: 230px;
  left: 400px;
}
.p4 {
  position: absolute;
  left: 980px;
  top: 140px;
}
.p5 {
  position: fixed;
  right: 300px;
  top: 300px;
}
.ab {
  margin-top: 15px;
}
